ase_env
ase_env/**
__pycache__
__pycache__/**
**/__pycache__/**
*.db
.ipynb_checkpoints
.ipynb_checkpoints/**
**/.ipynb_checkpoints/**
**.db
**.traj
!gold_bulk.traj
!pt.traj
test_set
test_set/**
out*
ffie*
OperationsTest.py
